* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url('./background.jpg') 0 20% no-repeat fixed;
  background-size: cover;
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

.App {
  text-align: center;
}
